

<div>
	<h2>Enter the new puppy here</h2>
	    <div class="errors">
      <% dog.errors.each do |attribute, error| %>
        <p class="error" style="color: orange">
          <%= attribute %>: <%= error %>
        </p>
      <% end%>
    </div>
	<form action="/create_dog" method="post">
		<label>Name: <input type="text" name="name" value="<%= dog.name %>"></label>
		<br>
		<label>Breed: <input type="text" name="breed" value="<%= dog.breed %>"></label>
		<br>
		<label>Weight: <input type="number" name="weight" value="<%= dog.weight %>"></label>
	    
	    <br>
	    <button type="submit">Submit this form</button>
	</form>
	<a href="/list_dogs">Go back</a>
</div>