<%= dog.name %>
<%= dog.breed %>
<%= dog.weight %>
<a href="/edit_dog/<%= dog.id %>">Update information</a>
<form method="post" action="/delete/<%= dog.id %>" style='display: inline'>
            <input type="submit" value="Delete" />
</form>
<div class="comments">
        <h3>Comments:</h3>
        <hr />
        <% dog.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <small class="comment_meta">
              <span class="comment_potential_owner">#<%= index+1 %> by <%= comment.potowner %> -</span>
            
            </small>
            <p class="comment_body"><%= comment.body %></p>
          </div>
          <hr />
        <% end %>
      </div><!-- display each comment -->
      <br />
      <!-- new comment form -->
        <form method="post" action="/create_comment_for_dog/<%= dog.id %>">

          <label for="body">Comment</label>
          <textarea id="body" name="body"></textarea>
          <br /> <br />

          <label for="potowner">Name</label>
          <input id="potowner" name="potowner" type="text" />
          <br /> <br />

          <input type="submit" value="Add Comment" />
        </form>
        <hr />

<p><a href="/list_dogs">Back to dogs</a></p>